body {
	background-color: #E4F5F4;
}

.square--top {
	background-color: #4E79E7;
	width: 200px;
	height: 200px;
}

.square--bottom {
	background-color: #4E79E7;
	width: 200px;
	height: 200px;
	/* margin-left: auto; */
	position: fixed;
  right: 0px; bottom: 0px;
	
	 z-index: -1;
}

.register-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
	position: absolute;
	height: 75%; 
	width: 80%; 
	top: 20%; 
	bottom: 10%; 
	left: 10%; 
	right: 10%;

	/* position: relative;
	width: 80%; 
	top: -100px;
  bottom: -100px;
  left: 130px;
	right: 130px; */
}

.traveller-logo {
	width: 50%; 
}

.client-survey {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.fill-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	width: 124px;
	height: 36px;
	font-family: Inter;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	text-shadow: 2px 3px 4px grey;
}

h2 {
	width: 370px;
	height: 48px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

h3 {
	width: 256px;
	height: 24px;
	top: 403px;
	left: 891px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	margin-top: 0px;
}

.name input {
	display: inline-flex;
	width: 130px;
	height: 30px;
	/* width: Fixed (130px); */
	/* height: Fixed (35px); */
	top: 480px;
	left: 865px;
	border-radius: 15px;
	gap: 10px;
	border: 1px solid #000000;
	margin-right: 10px;
	margin-bottom: 30px;
}

.email, .passwrod {
	/* width: Fixed (320px);
	height: Fixed (35px); */
	width: 320px;
	height: 30px;
	top: 537px;
	left: 865px;
	border-radius: 15px;
	border: 1px solid #000000;
	gap: 10px;
	margin-bottom: 30px;
}

.location {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.country, .province {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.country label, .province label {
	width: 150px;
	height: 15px;
	top: 660px;
	left: 871px;
	font-family: Inter;
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 20px;
	margin-left: 20px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.country select, .province select {
	/* width: Fixed (141px);
	height: Fixed (35px); */
	width: 150px;
	height: 35px; 
	padding: 1px 2px 1px 5px;
	border-radius: 10px;
	justify-content: space-between;
	background: rgba(217, 217, 217, 1);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: none;
}


button {
	/* width: Fixed (327px);
	height: Fixed (35px); */
	width: 327px;
	height: 35px;
	border-radius: 5px;
	border: 1px;
	gap: 10px;
	background: linear-gradient(0deg, #7FDF7D, #7FDF7D);
	border: 1px solid #000000;
}